@model PTSL.Ovidhan.Web.Core.Model.EntityViewModels.SystemUser.AccessMapperVM
@{
    ViewBag.Title = "Details";
}


<div class="card">
    <div class="card-header">
        <h4>Category Details</h4>
    </div>

    <div class="card-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="inputCategory" style="font-size:15px;">Category Name: <b></b></label>
                @*<input type="text" class="form-control col-md-6" id="CategoryName" name="CategoryName" value="@Model.CategoryName" placeholder="Enter Category Name">*@

            </div>
        </div>
    </div>
    <hr />
    <div class="card-header pull-left">
        <a href="/Category/Index" class="btn btn-warning">Return to Index</a>
    </div>
</div>

